<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<form method="post">
    <input type="text" name="query" placeholder="Search...">
    <input type="submit" value="Search">
</form>

<canvas id="chart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById('chart').getContext('2d');
    
var categories = {{ categories|tojson }};
var values = {{ values|tojson }};
var average_values = {{ average_values|tojson }};

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: categories,
        datasets: [{
            label: 'Values for Location',
            data: values,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        },{
            label: 'Average',
            data: average_values,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
</script>

</body>
</html>
